#login{
    width: 400px;
}
#login label{
  display:block;
  margin-bottom:5px ;
  padding: 10px;
}
#login input{
  display:block;
  margin-bottom:5px ;
}
body{
    display:flex;
    justify-content:center;
    align-items: center;
}
img{
    width: 300px;
    height:300px;
}